@{
    ViewData["Title"] = "Home Page";
}

<section class="py-5 bg-image-full mx-auto"
         style="        background-image: url('https://www.bgonair.bg/media/files/resized/article/640x/eb7/9ce77f2367f01482564f5797fe7c5eb7-6938037.jpg');
        background-repeat: no-repeat;
">
    <div style="height: 28vh;"></div>
</section>
<section class="py-5">
    <div class="container">
        <h1>Flight Manager</h1>
        <div>
            <p class="lead" style="font-size: 24px; font-style: italic;">
                "With us booking tickets has never been so easy..."
            </p>
        </div>
        <div>
            <a href="/Flight/GetAll?page=1" class="btn btn-primary text-center">View All Flights</a>
        </div>
    </div>
</section>