@model FlightManager.Web.BindingModels.Reservation.CreateBindingModel

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="text-center">Create Flight</h4>
<hr />
<div class="row">
    <div class="col-md-6 mx-auto">
        <form action="/Reservation/Make" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group" style="display: none">
                <input name="FlightId" value="@Model.FlightId"/>
            </div>
            <div class="form-group">
                <input asp-for="FirstName" class="form-control common-input mt-20" placeholder="First Name*" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name*'" required />
                <span asp-validation-for="FirstName" class="text-dark"></span>
            </div>
            <div class="form-group">
                <input asp-for="SecondName" class="form-control common-input mt-20" placeholder="Second Name*" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Second Name*'" required />
                <span asp-validation-for="SecondName" class="text-dark"></span>
            </div>
            <div class="form-group">
                <input asp-for="LastName" class="form-control common-input mt-20" placeholder="Last Name*" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name*'" required />
                <span asp-validation-for="LastName" class="text-dark"></span>
            </div>
            <div class="form-group">
                <input asp-for="EGN" class="form-control common-input mt-20" placeholder="EGN*" onfocus="this.placeholder = ''" onblur="this.placeholder = 'EGN*'" required />
                <span asp-validation-for="EGN" class="text-dark"></span>
            </div>
            <div class="form-group">
                <input asp-for="PhoneNumber" class="form-control common-input mt-20" placeholder="Phone Number*" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone Number*'" required />
                <span asp-validation-for="PhoneNumber" class="text-dark"></span>
            </div>
            <div class="form-group">
                <input asp-for="Nationality" class="form-control common-input mt-20" placeholder="Nationality*" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nationality*'" required />
                <span asp-validation-for="Nationality" class="text-dark"></span>
            </div>
            <div class="form-group">
                <label for="ticketType">Tickets: </label>
                <select id="ticketType" asp-for="TicketType">
                    <option value="" disabled="true" , selected="true">Select tickets type</option>
                    <option value="Business">Business</option>
                    <option value="Normal">Normal</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ticketCount">Tickets Count</label>
                <input asp-for="TicketsCount" id="ticketCount" class="form-control common-input mt-20" placeholder="Tickets Count" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tickets Count*'" required />
                <span asp-validation-for="TicketsCount" class="text-dark"></span>
            </div>

            <div class="form-group">
                <input asp-for="Email" class="form-control common-input mt-20" placeholder="Email*" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email*'" required />
                <span asp-validation-for="Email" class="text-dark"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Make" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
