@model FlightManager.Web.BindingModels.Flight.Input

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="text-center">Create Flight</h4>
<hr />
<div class="row">
    <div class="col-md-6 mx-auto">
        <form action="/Flight/Create" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Image" class="form-control common-input mt-20" placeholder="Image" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Image'" required/>
                <span asp-validation-for="Image" class="text-dark"></span>
            </div>
            <div class="form-group">
                <input asp-for="From" class="form-control common-input mt-20" placeholder="From" onfocus="this.placeholder = ''" onblur="this.placeholder = 'From*'" required/>
                <span asp-validation-for="From" class="text-dark"></span>
            </div>
            <div class="form-group">
                <input asp-for="To" class="form-control common-input mt-20" placeholder="To" onfocus="this.placeholder = ''" onblur="this.placeholder = 'To*'" required/>
                <span asp-validation-for="To" class="text-dark"></span>
            </div>
            <div class="form-group">
                <input asp-for="DepartureTime" class="form-control common-input mt-20" placeholder="Departure Time - MM/dd/yyyy hh::mm" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Departure Time - MM/dd/yyyy hh::mm'" required/>
                <span asp-validation-for="DepartureTime" class="text-dark"></span>
            </div>
            <div class="form-group">
                <input asp-for="ArrivalTime" class="form-control common-input mt-20" placeholder="Arrival Time - MM/dd/yyyy hh::mm" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Arrival Time - MM/dd/yyyy hh::mm'" required/>
                <span asp-validation-for="ArrivalTime" class="text-dark"></span>
            </div>
            <div class="form-group">
                <select asp-for="PlaneType">
                    <option value="" disabled="true" , selected="true">Select plane type</option>
                    <option value="Business">Business</option>
                    <option value="Normal">Normal</option>
                </select>
            </div>
            <div class="form-group">
                <input asp-for="PlaneNumber" class="form-control common-input mt-20" placeholder="Plane Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Plane Number*'" required/>
                <span asp-validation-for="PlaneNumber" class="text-dark"></span>
            </div>
            <div class="form-group">
                <input asp-for="PilotName" class="form-control common-input mt-20" placeholder="Pilot Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Pilot Name*'" required/>
                <span asp-validation-for="PilotName" class="text-dark"></span>
            </div>
            <div class="form-group">
                <label asp-for="FreePassengersSeats">Passengers Seats</label>
                <input asp-for="FreePassengersSeats" class="form-control common-input mt-20" placeholder="Passengers Seats" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Passengers Seats*'" required/>
                <span asp-validation-for="FreePassengersSeats" class="text-dark"></span>
            </div>
            <div class="form-group">
                <label asp-for="FreeBusinessSeats">Business Seats</label>
                <input asp-for="FreeBusinessSeats" class="form-control common-input mt-20" placeholder="Business Seats" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Business Seats*'" required/>
                <span asp-validation-for="FreeBusinessSeats" class="text-dark"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
